html, body{
    margin: 0;
    padding: 0;
}

/* 모달 */
.hidden{
    display: none;
}
.modal_back{
    z-index: 98;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d5d4d4;
    text-align: center;
    position: absolute;
    display: flex;
}
.modal_body {
    z-index: 99;
    font-size: 30px;
    padding: 100px;
    border: solid 1px #aaa5a5;
    border-radius: 30px;
    margin: auto;
    position: relative;
    width: 600px;
    height: 300px;
    background-color: white;
}
.loading_text{
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: 600;
}
.loading {
    background-color: #ffffff;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

/* 헤더 */
top-header{
    display: inline-flex;
    position: fixed;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: #B2A4FF;
}
.main_logo_min{
    display: inline-flex;
    height: 100%;
    cursor: pointer;
}
.nav_box{
    display: inline-flex;
    height: 100%;
    flex-grow: 1;
}
ul{
    display: inline-block;
    list-style: none;
    height: 100%;
    padding: 0;
}
li{
    display: inline-block;
    height: 100%;
    float: left;
    padding: 0;
}
.nav_profile{
    height: 100%;
    text-align: center;
    display: inline-flex;
    float: right;
}
.nav_profile div{
    width: 80px;
    margin: auto 10px auto 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
.nav_profile div:hover{
    color: #FDF7C3;
    cursor: pointer;
}
.profile_div{
    padding: 0 !important;
    width: 80px !important;
    height: 100% !important;
    background-color: #B2A4FF !important;
    border: none !important;
}
.profile_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* flex-item */
.flex_item{
    margin: auto;
    background-color: #FDF7C3;
    height: 100px;
    flex-grow: 1;
}

/* contents-list */
.contents_list{
    display: flex;
    width: 100%;
}
.contents_list > div{
    margin: 80px auto 0px;
    width: 800px;
    border: 1px solid #DDDDDD;
}
.contents_list > div > div{
    margin: 10px;
    width: 100%;
}