<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../static/components/component.js" defer></script>
    <link rel="stylesheet" href="../static/assets/css/component.css">
    <link rel="stylesheet" href="../static/assets/css/login.css">
</head>
<body>
    <my-modal></my-modal>
    <div class="login_logo">메이트 채용</div>
    <form id="loginForm">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>

    <div id="result"></div>

    <script>
        const form = document.getElementById("loginForm");

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const modal = document.querySelector("my-modal");
            modal.loading();
            const datas = {};
            formData.forEach((value, key) => {
                datas[key] = value;
            });

            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(datas)
            })
            .then(
            response => response.json()
            )
            .then(data => {
                if(data.result) {
                    location.href = "/";
                } else {
                    modal.message("\n\nLogin Failed. Please try again.")
                }
            })
            .catch(error => {
                modal.message("\n\nAn error occurred. Please try again later.")
                console.error(error);
            });
        });
    </script>
</body>
</html>