<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../static/components/component.js" defer></script>
    <link rel="stylesheet" href="../static/assets/css/component.css">
    <link rel="stylesheet" href="../static/assets/css/login.css">
</head>
<body>
    <my-modal></my-modal>
    <div class="login_div">
        <img class="login_logo" src="../static/img/login_logo.png" rel="login_logo">
        <div class="login_title">채용 사이트 제목</div>
        <form id="loginForm">
            <input type="text" id="id" name="id" placeholder="아이디"><br>
            <input type="password" id="password" name="password" placeholder="비밀번호"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div id="result"></div>

    <script>
        const form = document.getElementById("loginForm");

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const modal = document.querySelector("my-modal");
            modal.loading();
            const datas = {};
            formData.forEach((value, key) => {
                datas[key] = value;
            });

            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(datas)
            })
            .then(response => {
                if (response.status == "403"){
                    modal.message("\n\n아이디 또는 비밀번호를 확인해주세요.")
                }else if(response.status == "200"){
                    location.href = "/";
                }else{
                    modal.message("\n\n네트워크 오류 입니다.\n잠시 후 다시 시도해주세요. ")
                }
            })
        });
    </script>
</body>
</html>