<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="../components/js/component.js" defer></script>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>

    <div id="result"></div>

    <script>
        const form = document.getElementById("loginForm");

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const datas = {};
            formData.forEach((value, key) => {
                datas[key] = value;
            });

            fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(datas)
            })
            .then(
            response => response.json()
            )
            .then(data => {
                if(data.result) {
                    location.href = "/";
                } else {
                    document.getElementById("result").innerHTML = "Login Failed. Please try again.";
                }
            })
            .catch(error => {
                document.getElementById("result").innerHTML = "An error occurred. Please try again later.";
                console.error(error);
            });
        });
    </script>
</body>
</html>