<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>메인화면</title>
        <script src="../static/components/component.js" defer></script>
        <link rel="stylesheet" href="../static/assets/css/component.css">
        <link rel="stylesheet" href="../static/assets/css/main.css">
    </head>
    <body>
        <my-modal></my-modal>
        <!--헤더-->
        <top-header></top-header>
        <!-- 컨텐츠 영억 -->
        <contents>
            <flex>
                <flex-item>
                    <figure id="newcomer_figure">
                        <img src="../static/img/default_profile.jpg" alt="신입 채용" width="100%">
                        <figcaption>신입 채용</figcaption>
                    </figure>
                    <div class="recruit_cnt">1</div>
                </flex-item>
                <flex-item>
                    <figure id="career_figure">
                        <img src="../static/img/default_profile.jpg" alt="경력 채용" width="100%">
                        <figcaption>경력 채용</figcaption>
                    </figure>
                    <div class="recruit_cnt">2</div>
                </flex-item>
                <flex-item>
                    <figure>
                        <img src="../static/img/default_profile.jpg" alt="보도 자료" width="100%">
                        <figcaption>보도 자료</figcaption>
                    </figure>
                </flex-item>
            </flex>
        </contents>


        <script type="text/javascript" src="../static/assets/js/main.js"></script>
    </body>
    
</html>