<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채용목록</title>
    <script src="../static/components/component.js" defer></script>
    <link rel="stylesheet" href="../static/assets/css/component.css">
    <link rel="stylesheet" href="../static/assets/css/recruitPage.css">
</head>
<body>
    <my-modal></my-modal>
    <top-header></top-header>
    <contents-list></contents-list>

    <script type="text/javascript" src="../static/assets/js/recruitPage.js"></script>
</body>
</html>